/*
#2c2c2c - main background
#555 - between backgrounds color
#111 - darker background
#fff - text color
#bbb - darker text color
#0a0a0a - darkest background

brand color idea 1: #658bff
brand color idea 2: #65baff

*/
*{font-family:'Roboto',sans-serif}
body{background-color:#2c2c2c;margin:0}
.mainContent{
    background-color: #2c2c2c;
    height: calc(100vh - 101px);
    width: 100%;
}
.player{
    position: fixed;
    z-index: 2;
    display: inline-flex;
    color: #fff;
    background-color: #111;
    border-top: 1px solid #444;
    height: 100px;
    width: 100%;
}

.player .song{
    width: 30%;
}

.player .song img{
    width: 80px;
    height: 80px;
    padding: 10px;
    vertical-align: middle
}

.player .song .description{
    display: inline;
    position: relative;
}

.player .song .description *{
    width: 200px;
}

.player .song .description songtitle{
    position: absolute;
    top: -10px;
}
.player .song .description artist{
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: #bbb
}

.player .controls{
    width: 40%;
}

.player .controls .buttons{
    text-align: center;
    margin-top: 10px;
}

.player .controls .buttons button{
    user-select: none;
    cursor: pointer;
    background: none;
    color: #bbb;
    width: 28px;
    height: 28px;
    border: 1px solid #111;
    border-radius: 50%;
    margin: 5px;
    font-size: 12px;
    transition: 0.15s;
}
.player .controls .buttons button:hover{
    color: #fff;
}
.player .controls .buttons button:active{
    border: 2px solid #fff;
}

#play{
    font-size: 12px;
    color: #000;
    background: #fff;
}
#play:hover{
    background: #bbb;
}
#play:active{
    color: #bbb/*rgb(49, 7, 7)*/;
    background: #0a0a0a;
}

.player .controls{
    text-align: center;
}

.player .controls a{
    color: #bbb;
    font-size: 14px;
    padding: 0 6px;
}









.player .controls input {
    cursor: pointer;
    width: 85%;
    height: 10px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}


.player .controls input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #65baff;
    border: 2px solid #65baff;
    box-shadow: -405px 0 0 400px #65baff;
    transition: 0.2s;
}

.player .controls .wholeseek {
    display: inline;
}
.wholeseek:hover input[type="range"]::-webkit-slider-thumb{
    background: #ddd;
    border: 2px solid #fff;
}

@media screen and (max-width: 1257px){
    .player .controls a{
        padding: 0;
    }
}
/* 
.player .controls input{
    cursor: pointer;
    background-color: #222;
     border: 1px solid #ccc;
    border-radius: 50px;
    -webkit-appearance: none;
    margin: 0;
    width: 85%;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    .player .controls input {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #222;
    }
    
    .player .controls input::-webkit-slider-runnable-track{
        height: 10px;
        -webkit-appearance: none;
        color: #65baff;
        margin-top: -1px;
    }
    
    .player .controls input::-webkit-slider-thumb{
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        background: #fff;
        box-shadow: -4000px 0 0 4000px #65baff;
    }
}

input[type="range"]::-moz-range-progress{
  background-color: #65baff; 
}
input[type="range"]::-moz-range-track{  
  background-color: #222;
}

input[type="range"]::-ms-fill-lower{
  background-color: #65baff; 
}
input[type="range"]::-ms-fill-upper{  
  background-color: #222;
} */




.player .volume{
    width: 30%;
    text-align: right;
}

.player .volume div{
    padding: 31px;
}

.player .volume button{
    user-select: none;
    cursor: pointer;
    background: none;
    color: #bbb;
    width: 28px;
    height: 28px;
    border: 1px solid #111;
    border-radius: 50%;
    margin: 5px;
    font-size: 12px;
    transition: 0.15s;
}
.player .volume button:hover{
    color: #fff;
}
.player .volume button:active{
    border: 2px solid #fff;
}


.slider{
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;
    height: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: 0.15s;
  }
  
  .slider:hover{
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #65baff;
    cursor: pointer;
  }

@media (max-width: 660px){
    
    .player .controls{
        margin-left: 12%;
        width: 55%;
    }
    .player .volume{
        display: none;
        width: 0%;
    }
}

@media (max-width: 500px){
    .player .controls{
        margin-left: 0;
        width: calc(100% - 110px);
    }
    .player .song{
        width: 100px;
    }
    .player .song .description{
        display: none;
    }
}


.mainContent .songs{
    text-align: center;
    color: #fff;
    width: 100%;
}

.mainContent .songs .title{
    text-align: left;
    float: none;
}

.mainContent .songs div *{
    float: right;
    width: 33.33%;
}

.mainContent .songs .headings{
    text-transform: uppercase;
    font-weight: 400;
    color: #bbb;
    width: 80%;
    margin: 10px 0;
    margin-left: 10%;
}

.mainContent .songs th, td{
    padding: 12px;
    height: 40px;
    text-align: left;
}

.mainContent .songs tr{
    cursor: pointer;
}

.mainContent .songs tr:hover {background-color: #333}

.mainContent .songs .tablesort{
    user-select: none;
    border-bottom: 1px solid #bbb;
    background: #222;
}

.mainContent .songs .tablesort:hover{
    background: #222;
    cursor: default;
}

.mainContent .songs st::before{
    transition: 0.3s;
    opacity: 0.0;
    font-family: FontAwesome;
    content: "\f04b";
}
.mainContent .songs .song ~ .mainContent .songs st:before{
    opacity: 1.0;
}
/* work on this plz */

.mainContent .songs st{
    float: none;
}

.mainContent .songs hr{
    border: 0;
    border-top: 1px solid #bbb;
    width: 81%;
}

.mainContent .songs .song{
    cursor: pointer;
    padding: 30px 10px;
    margin-top: 20px;
    border: 1px solid #2c2c2c;
    width: 80%;
    margin-left: calc(10% - 10px);
    border-radius: 5px;
    transition: 0.3s;
    outline: 0;
}
.mainContent .songs .song:focus{
    border: 1px solid #555;
}
.mainContent .songs .song:hover{
    background: #333;
}
.mainContent .songs .song:active{
    background: #555;
}

.mainContent .songs .song img{
    width: 52px;
    height: 52px;
    margin: -17px;
    margin-left: 10px;
    margin-right: -55px;
    float: left;
}

.mainContent .songs .song img{
    float: left;
    width: 56px;
    height: 56px;
}

.mainContent header{
    user-select: none;
    color: #fff;
    width: calc(100% - 20px);
    background-color: #111;
    padding: 10px;
}

.mainContent header img, .mainContent header svg{
    margin: -8px 0;
    height: 36px;
}

.mainContent header h2{
    font-weight: 400;
    display: inline;
    margin: 0;
}
.mainContent header h2 strong{
    background: rgb(101,186,255);
    background: linear-gradient(117deg, rgba(101,186,255,1) 0%, rgba(208,187,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainContent header .add, .mainContent header .fb{
    float: right;
}

.mainContent header a,.mainContent header svg{
    cursor: pointer;
    color: #bbb;
    margin-left: 5px;
    padding: 5px 10px;
    transition: 0.3s;
}
.mainContent header svg:hover{
    stroke: #fff;
    stroke-width: 23;
}
.mainContent header .fb {
    border: 1px solid #bbb;
    border-image-slice: 1;
    border-image-source: linear-gradient(117deg, rgba(101,186,255,1) 0%, rgba(208,187,255,1) 100%);

}
.mainContent header .fb:hover {
    border: 1px solid #fff;
}
.mainContent header a:hover{
    color: #fff;
}
.mainContent header .fb{
    border-image-source: linear-gradient(294deg, rgba(101,186,255,1) 0%, rgba(208,187,255,1) 100%);
}




.mainContent .sidebar{
    user-select: none;
    float: left;
    z-index: 0;
    width: 60px;
    height: calc(100% - 49px);
    background-color: #111;
}
/*    overflow: hidden;
    transition: 0.3s;
}

 .mainContent .sidebar nav:hover{
    width: 200px;
    box-shadow: 4px 0px 5px rgba(0,0,0,.4);
} */

.mainContent .sidebar svg{
    cursor: pointer;
    padding: 11px;
    padding-top: 2rem;
    position: relative;
    width: 36px;
    stroke: #bbb;
    transition: 0.1s;
}
.mainContent .sidebar svg:hover{
    stroke: #fff;
}

.mainContent .welcome {
    padding: 60px;
    color: #fff;
    border-radius: 12px;
}
.mainContent .welcome h1{
    font-size: 56px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}
.mainContent .welcome div{
    user-select: none;
    cursor: pointer;
    display: inline;
    padding: 20px;
    border: 1px solid #bbb;
    transition: 0.1s;
}
.mainContent .welcome div:hover{
    border: 1px solid #fff;
}

#home, #discover, #search, #options {
    width: calc(100% - 60px);
    margin-left: 60px;
}

.tooltip {
    position: relative;
    display: inline;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: #444;
    border: 1px solid #bbb;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    transition: 0.2s;
}
.tooltip:hover .tooltiptext {
    transition-delay: 0.4s;
    opacity: 0.7;
    visibility: visible;
}





.login{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -55%);

    width: 50%;
    height: 70%;
    padding: 20px;

    color: #fff;
    background: rgba(0, 0, 0);
    /* backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px ); */
    border: 1px solid #ccc;
    border-radius: 12px;

    color: #fff;
    opacity: 1;
}