:root{
    --brand: #81ff65;

    --sidepanelbg: #eee;
    --sidepaneltx: #666;
    --sidepanelhover: #111;
    --sidepanelactivebg: linear-gradient(90deg, rgb(170, 255, 211) 0%, rgb(30, 255, 56) 100%);
    --sidepanelactivebgf: rgb(170, 255, 211);

    --mainbg: rgb(129, 207, 159);
    --maintx: #222;
    
    --songbg: #fff;
    --songhoverbg: rgb(178, 244, 184);
    --songalbumdisc: rgb(71, 136, 96);
    --songar: #555;
    --songtyshadow: #eee;

    --playertx: #000;
    --playerbg: #dedede;
    --playerhovertx: #333;
    --songinfotx: #111;
    --songinfotishadow: #111;
    --songinfoarshadow: #070707;
    --playersliderbg: #111;
    --playersliderdot: #81ff6555;
    --playersliderdoto: #fffcfccc;

    --settingsbg: #eee;
    --settingsabg: #bbb;
    --settingsatx: #222;
    --settingsahoverbg: #1c1c1c;
    --settingsahovertx: #fff;
    --settingsaactivetx: #111;
}