:root{
    --brand: #ff6565;

    --sidepanelbg: #231313;
    --sidepaneltx: #cfacac;
    --sidepanelhover: #fd7171;
    --sidepanelactivebg: linear-gradient(90deg, rgb(255, 187, 187) 0%, rgb(255, 101, 101) 100%);
    --sidepanelactivebgf: rgb(255, 187, 187);

    --mainbg: #340f0f;
    --maintx: #ffc0c0;
    
    --songbg: #340f0f;
    /* for visible bg - #461e1e */
    --songhoverbg: #752f2f;
    --songalbumdisc: #480000; 
    --songar: #e99f9f;
    --songtyshadow: #111;

    --playertx: #ff8d8d;
    --playerbg: #120000;
    --playerhovertx: #ffc7c7;
    --songinfotx: #fc8e8e;
    --songinfotishadow: #111;
    --songinfoarshadow: #070707;
    --playersliderbg: #422626;
    --playersliderdot: #ff656555;
    --playersliderdoto: #fffcfccc;

    --settingsbg: #2f1616;
    --settingsabg: #111;
    --settingsatx: #bbb;
    --settingsahoverbg: #230f0f;
    --settingsahovertx: #fff;
    --settingsaactivetx: #111;
}